body{
    display: block;
    margin: 0;
    font-family:"Comic Sans MS","幼圆","微软雅黑",sans-serif;
    background: #2c3e50;
}

h1{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -3.6em;
    color: #fff;
    font-weight: normal;
}

.button{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -3.6em;
    margin-top: -2.0em;
    width: 6em;
    height: 1.6em;
    border-radius: 0.375em;
    background: #f39c12;
    text-align: center;
    vertical-align: middle;
    /*text-shadow: 0.0625em 0.0625em 0.0625em #d35400;*/
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    padding: 0.6em;
    box-shadow: 0 0.125em #d35400;
}

.button:hover{
    margin-top: -1.9375em;
    box-shadow: 0 0.0625em #d35400;;
}